.contenedorLista {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: auto;
  justify-content: center;

  .first {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .card {
    background: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    border: #000 solid 0.1rem;
    margin: 0.5rem;
    text-align: center;
    transition: all 0.25s;
  }
  .img {
    width: 100%;
    height: 275px;
  }

  .card:hover {
    transform: translateY(-15px);
  }

  .containerBoton {
    display: flex;
    flex-wrap: wrap;
  }
  /*   li {
    display: block;
  }
 div {
    display: block; 
  } */
}

//formulario
.container-fluid {
  margin-top: 100px;
  justify-content: center;
  padding: 10px;
  width: 70%vw;
  align-items: center;

  .Form {
    display: flex;

    label {
      align-items: center;
      margin-left: 100px;
    }

    input {
      padding: 50px;
    }
  }
}
@media (max-width: 1024px) {

  .first {
    display: grid ;
    grid-template-columns: repeat(2,1fr);
  }
 
 
}

@media (max-width: 728px) {

  .first {  
  flex-direction: column;
 

  }
}